@import '../../Assets/styles/mixin';
@import '../../Assets/styles/variables';


.trip-driver-item{
    width: 400px;
    @include flex();
    flex-wrap: nowrap;
    padding: 20px;
    img{
        width: 150px;
        height: 150px;
        object-fit: cover;
    }
    .information{
        margin: 0px 10px;
        .driver-number{
            font-weight: bold;
        }
    }
}