.SectionImage {
    width: 100vw;
    height: 60vh;
    position: relative;
    padding: 50px;
        .buttons{
        display: flex;
    }
    .logo{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -8%;
        .App-logo {
            height: 120px;
            pointer-events: none;
          }
    }
}
